<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <!-- 自动调用双核浏览器的极速模式 -->
    <meta name="renderer" content="webkit">
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="cache" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <link href="https://cdn.11h5.com/static/common/css/utils.min.css" rel="stylesheet" />
    <title></title>
</head>

<body>
    <noscript>
        <strong>We're sorry but the page doesn't work properly without JavaScript enabled.
            Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>

    <script src="https://cdn.11h5.com/static/common/js/vue@2.6.10.min.js"></script>
    {{#router}}
    <script src="https://cdn.11h5.com/static/common/js/vue-router@3.0.1.min.js"></script>
    {{/router}}
    {{#vuex}}
    <script src="https://cdn.11h5.com/static/common/js/vuex@3.1.2.min.js"></script>
    {{/vuex}}
    <script src="https://cdn.11h5.com/static/common/js/utils.min.js"></script>
    <script src="https://cdn.11h5.com/static/common/js/login.min.js"></script>

    <!-- built files will be auto injected -->
</body>

</html>